# Django
SECRET_KEY=your-secret-key-here

DEBUG=True

# PostgreSQL
NAME=store_db
USER=postgres
PASSWORD=your-password-here
HOST=localhost
PORT=5432

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=abcdefghijklmnop