# Django настройки
SECRET_KEY=your-secret-key-here
DEBUG=True

# PostgreSQL настройки
NAME=your_database_name
USER=your_database_user
PASSWORD=your_database_password
HOST=localhost
PORT=5432

# Email настройки (для доп. задания — отправка писем при 100 просмотрах)
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password