<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home/">Интернет-магазин</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/home/' %}active{% endif %}" href="/home/">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/blogs/' in request.path %}active{% endif %}" href="{% url 'blogs:post_list' %}">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contacts/' %}active{% endif %}" href="/contacts/">Контакты</a>
                </li>
            </ul>

            <!--  Блок авторизации -->
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link text-light">
                            👤 {{ user.email }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if '/login/' in request.path %}active{% endif %}" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/register/' in request.path %}active{% endif %}" href="{% url 'users:register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>